<h1>First Angular Project</h1>
<div>{{title}}</div>
<div>{{message}}</div>

<input type="text"  #input class="form"><br>
<button class="btn btn-primary" (click)="myfunction(input.value)">Click</button>

<app-server></app-server>

