<div class="container bg-primary text-white">
    
<p>department works!</p>
<p>{{mess}}</p>

<table class="table ">

    <tr>
        <th>Department Number</th>
        <th>Department Name</th>
        <th>Location Code</th>
    </tr>

    <tr *ngFor="let dept of deptList" >

        <td >{{dept.deptno}}</td>
        <td>{{dept.dname}}</td>
        <td>{{dept.lcode}}</td>
      
    </tr>
</table>
<button class="btn btn-danger" (click)="onClickEvent()">Click To Display</button>
</div>