<div class="container">
   
<form class="login-form" #loginForm="ngForm" >
 
<input type="email" name="email" #email="ngModel" ngModel required><br>

<input type="password" name="password" #password="ngModel" ngModel required><br>
<button class="btn btn-primary"
 (click)="login(loginForm)">
    Login
</button>

</form>
<div>
    {{email.value+" "+password.value}}
    <br>
    {{email.valid+" "+password.valid}}
</div>
</div>