<div class="container">
  {{userRegistration.value|json}}

  <div>
    <form #userRegistration="ngForm" (ngSubmit)="submitUser(employeeModel)" novalidate>
      <div class="form-group">
        <label>Enter EMployee Name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="employeeModel.username">
      </div>
      <div class="form-group">
        <label>Enter password</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="employeeModel.password">
      </div>
      <div class="form-group">
        <label>Enter EMployee EmailId</label>
        <input type="text" name="email" class="form-control" [(ngModel)]="employeeModel.email">
      </div>
      <div class="form-group">
        
        <input type="submit" name="submit" value="Submit" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>