<div class="container bg-warning ">
<h1>{{message_app}}</h1>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><br>
<p>{{mess_child_employee}}</p><br>
<p>{{message_from_department}}</p>
*************************************************************************
<app-employee [parentData]="message_app"></app-employee>

*************************************************************************

<app-department [parentData]="message_app" (messageEvent)="message_from_department=$event"></app-department>
*************************************************************************

<app-admin [parentData]="message_app"></app-admin>
{{message_from_department}}
*************************************************************************

</div>